<div class="side-block">
  <h5 class="text-white">Around the Web</h5>
  <p>Find us where you hang around most</p>
  <ul class="list-unstyled">
    <li>We tweet through <a class="d-inline-block scale-out-lg" href="#"><i class="fa fa-twitter mr-1 ml-1"></i>@tooter</a></li>
    <li>Befriend us at <a class="d-inline-block scale-out-lg" href="#"><i class="fa fa-facebook-official mr-1 ml-1"></i>tooter</a></li>
    <li>Chat in slack <a class="d-inline-block scale-out-lg" href="#"><i class="fa fa-slack mr-1 ml-1"></i>tooter</a></li>
    <li>Opportunities at <a class="d-inline-block scale-out-lg" href="#"><i class="fa fa-linkedin-square mr-1 ml-1"></i>tooter</a></li>
    <li>Code at <a class="d-inline-block scale-out-lg" href="#"><i class="fa fa-github mr-1 ml-1"></i>tooter</a></li>
  </ul>
</div>
