input.form-control {
  background: #333;
  border: none;
  outline: none;
  padding: 10px;
  transition: background 0.4s;
  color: white;

  &:focus {
    background: white;
    color: #222222;
  }
}
