<div class="footer">
  <div class="row">
    <div class="col text-left">
      <p>
        Follow Us
        <a href="#" class="ml-2"><i class="fa fa-facebook-square"></i></a>
        <a href="#" class="ml-2"><i class="fa fa-twitter-square"></i></a>
        <a href="#" class="ml-2"><i class="fa fa-github-square"></i></a>
      </p>
    </div>
    <div class="col text-right">
      <a href="#">Powered by <strong>tooter</strong> <span class="ml-1 mr-1">&middot;</span> Create a Free Community</a>
    </div>
  </div>
</div>
