<div class="row">
  <div class="col">
    <app-about-us-widget></app-about-us-widget>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="discussions-item side-block">
      <a href="#" class="badge badge-primary">Discussions</a>
      <app-forum-posts-widget></app-forum-posts-widget>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-subscribe-widget></app-subscribe-widget>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-social-widget></app-social-widget>
  </div>
</div>
