<div class="row">
  <div class="col-8">

    <!-- Featured item -->
    <div class="row">
      <div class="col">
        <a href="#" class="badge badge-primary">Featured</a>
        <app-featured-post></app-featured-post>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <app-article-card></app-article-card>
      </div>

      <div class="col-lg-6">
        <app-article-card></app-article-card>
      </div>

      <div class="col-lg-6">
        <app-article-card></app-article-card>
      </div>
      <div class="col-lg-6">
        <app-article-card></app-article-card>
      </div>
      <div class="col-lg-6">
        <app-article-card></app-article-card>
      </div>

    </div>
  </div>

  <!-- Discussion items -->
  <div class="col-lg-4">

    <div class="row">
      <div class="col">
        <div class="about-community">
          <div class="details">
            <h5 class="text-white">About the Community</h5>
            <p>tooter helps you create and grow communities around your ideas or products! Here is how our customers are using it</p>
            <ul class="list-unstyled">
              <li>Knowledge Base for your Product</li>
              <li>Community for the People</li>
              <li>Features and Bug Handler</li>
            </ul>
            <a href="#" class="btn btn-sm btn-warning mt-3 mb-2">Join Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="#" class="badge badge-primary">Discussions</a>
        <app-forum-posts-widget></app-forum-posts-widget>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <ul class="list-unstyled contact-links">
          <li class="social-list">
            <p>
              <a class="scale-out-lg mr-4 ml-0" href="#"><i class="fa fa-github fa-3x"></i></a>
              <a class="scale-out-lg mr-4" href="#"><i class="fa fa-twitter fa-3x"></i></a>
              <a class="scale-out-lg mr-4" href="#"><i class="fa fa-facebook-official fa-3x"></i></a>
              <a class="scale-out-lg mr-4" href="#"><i class="fa fa-slack fa-3x"></i></a>
              <a class="scale-out-lg " href="#"><i class="fa fa-instagram fa-3x"></i></a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
