<div class="row">
  <div class="col-8">

    <!-- Featured item -->
    <div class="row">
      <div class="col">
        <a href="#" class="badge badge-primary">Featured</a>
        <app-featured-post></app-featured-post>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <app-article-card></app-article-card>
      </div>

      <div class="col-lg-6">
        <app-article-card></app-article-card>
      </div>

      <div class="col-lg-6">
        <app-article-card></app-article-card>
      </div>
      <div class="col-lg-6">
        <app-article-card></app-article-card>
      </div>
      <div class="col-lg-6">
        <app-article-card></app-article-card>
      </div>

    </div>
  </div>

  <!-- Discussion items -->
  <div class="col-lg-4">

    <div class="row">
      <div class="col">
        <app-about-us-widget></app-about-us-widget>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="discussions-item side-block">
          <a href="#" class="badge badge-primary">Discussions</a>
          <app-forum-posts-widget></app-forum-posts-widget>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-subscribe-widget></app-subscribe-widget>
      </div>
    </div>
  </div>

</div>
