.badge {
  margin-bottom: 25px;
}

.contact-links {
  li > a {
    font-size: 16px;
    padding: 12px 20px;
    background: #222222;
    display: block;
  }
}

.social-list {
  padding: 0 0 5px;
}

.social-links a {
  display: inline-block;
}

.about-community {

  .badge {
    margin-bottom: 10px;
  }

  .details {
    background: #222222;
    padding: 15px 20px;
    margin-top: 0;
    border-radius: 3px;
    margin-bottom: 25px;
  }
  ul {
    margin-bottom: 0;
  }
}
