<div class="row">
  <div class="col-8">

    <!-- Featured item -->
    <div class="row">
      <div class="col">
        <a href="#" class="badge badge-primary">Featured</a>
        <app-featured-post></app-featured-post>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Discussion items -->
  <div class="col-lg-4">
    <ul>
      <li>The best Black Friday deals in tech?</li>
      <li>What do the avatars in the topic list mean?</li>
      <li>Tooter is now open to communities</li>
      <li>Simplified and community driven man-pages</li>
      <li>High Performance File Uploading For Your App in Minutes</li>
      <li>Finding new ways to confuse yourself!</li>
      <li><a class="btn btn-sm btn-light" href="#">See all discussions</a></li>
    </ul>
  </div>

</div>

<!-- Other text items -->
<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
</div>
