<div class="post-wrap">
  
  <div class="post-head">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Tooter – Building a Community</h1>
          <div class="post-meta mb25">
            <span class="post-date mr-2">June 12, 2017</span> &middot;
            <a class="scale-out-lg d-inline-block ml-2 bg-danger" href="#">
              <img src="/assets/avatar-yan.jpg" alt="">
              <span>Kamran Ahmed</span>
            </a>
          </div>
          <p>Highig built a community of JavaScript enthusiasts in a few weeks. Kamran explains how he channelled his love for JavaScript in his favor and built a community comprising of the tech enthusiasts in UAE totalling to 150 members.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="post-detail">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>. Assumenda dolores et facere illum in inventore iste itaque iure laborum, minus officia provident recusandae rem sint sunt, tenetur totam ullam ut!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <em>Ad aliquid asperiores</em>, at beatae culpa eveniet illum inventore libero mollitia nobis obcaecati officia quos repellat repellendus sunt tempore totam unde ut.</p>
          <h1>Getting out there and representing what you stand for!</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda dolor doloremque, eligendi, est facere facilis illo ipsa natus nihil odio placeat quia recusandae sequi vero? Animi aspernatur corporis esse? Ad aliquid culpa cum dicta enim ex exercitationem fuga fugiat harum ipsa labore libero maiores minus nisi nostrum
            numquam odio optio placeat reprehenderit, sequi sint unde ut voluptas. Consectetur, molestias.</p>
          <p>Consequatur consequuntur cum error facilis sit. Assumenda delectus dicta, dolor illum maiores nemo perferendis placeat quae quia, quis rem sequi sit vel veniam vitae voluptate voluptatum. Possimus praesentium quidem vero?</p>
          <p>Adipisci cumque dolorem dolores error fugit id iste iusto maiores nihil optio perspiciatis quasi, quidem quos ratione reiciendis sapiente totam. Amet consectetur eaque fuga harum officiis quaerat, recusandae rerum sunt?</p>

          <h2>Making a community is never an easy task – you have to consider a lot of things!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at atque debitis dolor error est, fugit ipsum magnam minima molestias mollitia non, nostrum porro, quaerat saepe sequi tempora totam voluptatibus! <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur ea iure nobis quam unde. A porro qui temporibus! Deleniti dolore ea ipsum nihil nostrum qui ratione, similique totam voluptas.</span><span>Accusamus amet beatae cumque dolorem enim error, ipsa iusto laudantium officia optio soluta temporibus vero, vitae? Aliquid corporis eveniet iste voluptas voluptatibus. Aliquam blanditiis culpa expedita minima quaerat reprehenderit similique!</span>
          </p>

          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem culpa dolor ducimus ea eius eligendi est excepturi, inventore iusto pariatur quaerat quas qui quia sit ullam ut velit voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nostrum porro quos sequi totam? A asperiores consectetur dolores harum id illo libero nam odit officia praesentium, saepe tenetur, vel voluptate?</p>
          </blockquote>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis dolorem, earum exercitationem, illo iste itaque labore laborum libero nam nisi officia pariatur quas ratione recusandae rem sit, temporibus totam!</p>

          <h3>Sharks in the Water</h3>

          <p>Find some sharks in the water below Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est odit provident sequi temporibus? Accusantium adipisci, aperiam architecto consequatur culpa delectus earum, inventore iusto magni perferendis recusandae reiciendis reprehenderit, repudiandae sequi.</p>
          <img src="/assets/sharks.jpg">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium <u>alias nesciunt sapiente tenetur</u> voluptatibus? Accusamus ad consequatur ducimus eius id iure laboriosam nostrum, perspiciatis possimus provident quam sed sequi voluptatum. Find the list items below</p>

          <ul>
            <li>Here is a link item</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab eius inventore iusto maiores maxime minima minus quo? Assumenda beatae eaque earum esse fugit non numquam perspiciatis, quaerat saepe soluta.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab eius inventore iusto maiores maxime minima minus quo? Assumenda beatae eaque earum esse fugit non numquam perspiciatis, quaerat saepe soluta.</li>
          </ul>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid at, consequatur, corporis dolorum ea eum explicabo minima molestiae nemo nesciunt nostrum odio quam repudiandae, saepe sit ullam voluptate voluptatum!</p>

        </div>
      </div>
    </div>
  </div>

</div>
