<div class="post-wrap">

  <div class="post-head">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Tooter – Building a Community</h1>
          <div class="post-meta mb25">
            <span class="post-date mr-2">June 12, 2017</span> &middot;
            <a class="scale-out-lg d-inline-block ml-2 bg-danger" href="#">
              <img src="/assets/avatar-yan.jpg" alt="">
              <span>Kamran Ahmed</span>
            </a>
          </div>
          <p>Highig built a community of JavaScript enthusiasts in a few weeks. Kamran explains how he channelled his love for JavaScript in his favor and built a community comprising of the tech enthusiasts in UAE totalling to 150 members.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="post-detail">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Making a community is never an easy task – you have to consider a lot of things!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolores et facere illum in inventore iste itaque iure laborum, minus officia provident recusandae rem sint sunt, tenetur totam ullam ut!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid asperiores, at beatae culpa eveniet illum inventore libero mollitia nobis obcaecati officia quos repellat repellendus sunt tempore totam unde ut.</p>
          <h2>Getting out there and representing what you stand for!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda dolor doloremque, eligendi, est facere facilis illo ipsa natus nihil odio placeat quia recusandae sequi vero? Animi aspernatur corporis esse? Ad aliquid culpa cum dicta enim ex exercitationem fuga fugiat harum ipsa labore libero maiores minus nisi nostrum
            numquam odio optio placeat reprehenderit, sequi sint unde ut voluptas. Consectetur, molestias.</p>
          <p>Consequatur consequuntur cum error facilis sit. Assumenda delectus dicta, dolor illum maiores nemo perferendis placeat quae quia, quis rem sequi sit vel veniam vitae voluptate voluptatum. Possimus praesentium quidem vero?</p>
          <p>Adipisci cumque dolorem dolores error fugit id iste iusto maiores nihil optio perspiciatis quasi, quidem quos ratione reiciendis sapiente totam. Amet consectetur eaque fuga harum officiis quaerat, recusandae rerum sunt?</p>
        </div>
      </div>
    </div>
  </div>

</div>
