<div class="about-community">
  <div class="details side-block">
    <h5 class="text-white">About the Community</h5>
    <p>tooter helps you create and grow communities around your ideas or products! Here is how our customers are using it</p>
    <ul class="list-unstyled">
      <li>Knowledge Base for your Product</li>
      <li>Community for the People</li>
      <li>Features and Bug Handler</li>
    </ul>
    <a href="#" class="scale-out btn btn-sm btn-warning mt-3 mb-2">Join Us</a>
  </div>
</div>
