<div class="row">
  <div class="col">
    <div class="side-block">
      <h5 class="text-white">Fun Fact</h5>
      <p>It is raining outside in Dubai (first time since the year started).</p>
      <p>And we have a meeting scheduled in half an hour about how we are going to structure the forum!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="side-block">
      <h5 class="text-white">Contribute</h5>
      <p>Found a typo or think this can be improved?</p>
      <a href="#" class="btn btn-sm btn-warning">Submit a Fix</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="side-block">
      <h5 class="text-white">Share this article</h5>
      <p>Show your love by sharing the article</p>
      <p>
        <a href="#"><i class="fa fa-facebook-square fa-2x mr-2"></i></a>
        <a href="#"><i class="fa fa-twitter-square fa-2x mr-2"></i></a>
        <a href="#"><i class="fa fa-hacker-news fa-2x mr-2"></i></a>
        <a href="#"><i class="fa fa-reddit-square fa-2x mr-2"></i></a>
        <a href="#"><i class="fa fa-linkedin-square fa-2x mr-2"></i></a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="side-block">
      <img src="/assets/user-1.jpg" alt="">
    </div>
  </div>
</div>
