.top-nav {
  height: 55px;
  line-height: 40px;
}

a {
  font-weight: 600;
  transition: color 140ms;

  &.logo {
    font-size: 18px;
    line-height: 35px;
  }

  &.btn {
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    margin-top: 12px;
    margin-left: 8px;
    text-transform: uppercase;
  }
}

a.logo {
  font-size: 18px;
  line-height: 55px;
}
