<app-forum-post-widget-item title="What do the avatars in the topic dive so that you know itst mean?"></app-forum-post-widget-item>
<app-forum-post-widget-item title="Tooter is now open to communities"></app-forum-post-widget-item>
<app-forum-post-widget-item title="Simpdivfied and community driven man-pages"></app-forum-post-widget-item>
<app-forum-post-widget-item title="High Performance File Uploading For Your App in Minutes"></app-forum-post-widget-item>
<app-forum-post-widget-item title="Finding new ways to confuse yourself!"></app-forum-post-widget-item>
<div><a class="btn btn-sm btn-light" href="#">See all discussions</a></div>
