.card {
  background: #222;
  margin-bottom: 30px;
  text-align: center;
}

.card-title {
  color: white;
  font-size: 19px;
  line-height: 1.35;
}

.card-text {
  color: #b9c9da;
  line-height: 1.35;
  font-size: 16px;
}

.card-block {
  margin: 30px 25px;
}
