<div class="card scale-out-lg">
  <div class="card-block">
    <div class="author-img">
      <img src="/assets/user-1.jpg" alt="">
    </div>
    <a href="#">
      <h4 class="card-title">How we setup our forum using tooter in 30 seconds</h4>
      <p class="card-text">Highig setup their tooter forum and integrated into their website in 30 seconds</p>
    </a>
  </div>
  <div class="card-footer">
    <div class="action-btns">
      <a href="#"><i class="fa fa-chevron-up mr-1"></i> 13</a>
      <a class="ml-3" href="#"><i class="fa fa-comments mr-1"></i> 20 comments</a>
      <a class="ml-3" href="#"><i class="fa fa-user mr-1"></i> Kamran Ahmed</a>
    </div>
  </div>
</div>
