.card {
  background: #222;
  margin-bottom: 70px;
  position: relative;
}

.card-title {
  color: white;
  font-size: 22px;
  line-height: 1.35;
}

.card-text {
  color: #b9c9da;
  line-height: 1.35;
  font-size: 16px;
}

.card-block {
  margin: 30px 25px;
}

.card-footer {
    //background: #333333;
}

.author-img {
  display: block;
  text-align: center;

  img {
    width: 104px;
    position: relative;
    top: -80px;
    border-radius: 100px;
    border: 8px solid #181818;
    margin-bottom: -60px;
  }
}
