body {
  background: #181818;
  color: #d3d3d3;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: #9cb3c9;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.badge {
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  padding: 4px 8px;
}

.btn {
  border-radius: 3px;
}

.scale-out {
  transition: transform 120ms;
}

.scale-out:hover {
  transform: scale(1.04);
}

.scale-out-sm {
  transition: transform 140ms;
}

.scale-out-sm:hover {
  transform: scale(1.03);
}

.scale-out-lg {
  transition: transform 160ms;
}

.scale-out-lg:hover {
  transform: scale(1.05);
}


