body {
  background: black;
  color: #bac6ca;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: #9cb3c9;

  &:hover {
    text-decoration: none;
    color: white;
  }
}
