body {
  background: black;
  color: #bac6ca;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: #9cb3c9;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.badge {
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  padding: 4px 8px;
}
