:host {
  display: block;
  margin-bottom: 18px;
}

a.post-title {
  color: white;
  display: block;
  font-size: 18px;
  line-height: 1.4;
}

.action-btns {
  margin-top: 7px;

  a {
    font-size: 14px;
  }
}
